body{
    font-family: 'Source Sans Pro', sans-serif;
}
.login{
    padding-top: 50px ;
    padding-bottom: 55px;
    background: url("../images/login.jpg"),linear-gradient(rgba(0, 0, 0, 0.438),rgba(0, 0, 0, 0.13));
    background-repeat: no-repeat;
    background-size: cover ;
    height: 100vh;
    width: 100%;
}
.customforms{
    background-color: hsl(0, 0%, 100%);
    padding: 80px 70px;
    border-radius: 0px 137px 137px 0px;
}
.customforms .text{
    font-weight: 600;
}
.icon{
    position: relative;
    top: 30px;
    display: block;  
    width: 26px;
    margin-left: auto;
    z-index: 111;
}

.loginorregister {
    text-align: center;
    padding-bottom: 20px; 
   display: flex;
   justify-content: center;
 }
 .buttomone{
     background-color: #E4F1FF !important;
     box-shadow: none !important;
     border-radius: 20px;
     width: 30%; 
 }
 .buttomone .spanone{
     width: 100%;
     font-size: 20px;
     box-shadow: none !important;
     border-radius: 20px;
 
 }
 .buttontwo{
     background-color: #E4F1FF !important;
     box-shadow: none !important;
     border-radius: 20px;
     width: 28%;
 }
 .buttontwo .spantwo{
     width: 100%;
     font-size: 20px;
     box-shadow: none !important;
     border-radius: 20px;
 
 }
 .loginorregister .spanone , .loginorregister .spantwo{
     color:#E4F1FF !important;
 }
 .loginorregister i{
     color: black;
 }

.loginorregister .spanone span,.loginorregister .spantwo span{
    color:#E4F1FF !important;

}

input{
    
 margin-left: auto !important;    
box-shadow: none !important;
outline: none !important;
/* border-color: #fff !important; */
}
.submit{
    width: 25% !important;
    margin-left: auto;
    margin-right: auto;
    background-color: #0E63F4 !important;
    color: #F7F9FE !important;
}
/* @media only screen and (max-width:768px){
    .loginorregister .spanone , .loginorregister .spantwo{
    font-size: 13px;
    margin-bottom: 10px;
    padding-top: 10px;

    }  
} */
.loginorregister .active{
     background-color: #0E63F4 !important; 
    border-radius: 20px;
}

















/*   display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */